## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [62]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [63]:
sample_list_1= random.sample(range(101),80)
print(sample_list_1)
len(sample_list_1)

[37, 95, 34, 81, 57, 67, 51, 100, 9, 56, 8, 79, 70, 52, 74, 15, 93, 64, 23, 27, 66, 50, 12, 1, 89, 58, 6, 36, 22, 10, 38, 46, 90, 68, 84, 24, 30, 2, 92, 60, 7, 4, 14, 76, 99, 47, 72, 82, 61, 98, 0, 69, 49, 65, 45, 35, 59, 40, 85, 3, 19, 86, 53, 43, 77, 94, 71, 63, 88, 29, 33, 62, 25, 21, 91, 48, 5, 26, 28, 78]

80

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [65]:
set1=set(sample_list_1)
len(set1)
print(set1)
#yes, cause a set always take unique values and random.sample too

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 12, 14, 15, 19, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 33, 34, 35, 36, 37, 38, 40, 43, 45, 46, 47, 48, 49, 50, 51, 52, 53, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 74, 76, 77, 78, 79, 81, 82, 84, 85, 86, 88, 89, 90, 91, 92, 93, 94, 95, 98, 99, 100}

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop and the `randrange()` function.*

In [67]:
sample_list_2=[]

for x in range(80):
    sample_list_2.append(random.randrange(101))

print(sample_list_1)

[37, 95, 34, 81, 57, 67, 51, 100, 9, 56, 8, 79, 70, 52, 74, 15, 93, 64, 23, 27, 66, 50, 12, 1, 89, 58, 6, 36, 22, 10, 38, 46, 90, 68, 84, 24, 30, 2, 92, 60, 7, 4, 14, 76, 99, 47, 72, 82, 61, 98, 0, 69, 49, 65, 45, 35, 59, 40, 85, 3, 19, 86, 53, 43, 77, 94, 71, 63, 88, 29, 33, 62, 25, 21, 91, 48, 5, 26, 28, 78]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [69]:
set2=set(sample_list_2)
len(set2)
#No, cause in sample_list_2 there are dupicates but set does not take duplicates values
print(set2)

{2, 3, 5, 7, 8, 11, 12, 15, 18, 19, 21, 22, 23, 27, 28, 29, 32, 33, 40, 44, 47, 50, 52, 55, 57, 58, 59, 60, 62, 63, 64, 65, 66, 68, 69, 71, 74, 75, 79, 80, 82, 84, 85, 86, 88, 89, 90, 91, 92, 93, 95, 96, 97, 98, 100}

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [71]:
set3=[]

for x in set1:
    if x not in set2:
        set3.append(x)
print(set3)

[0, 1, 4, 6, 9, 10, 14, 24, 25, 26, 30, 34, 35, 36, 37, 38, 43, 45, 46, 48, 49, 51, 53, 56, 61, 67, 70, 72, 76, 77, 78, 81, 94, 99]

In [73]:
set3=set(set3)

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [75]:
set4=[]

for x in set2:
    if x not in set1:
        set4.append(x)
print(set4)

[11, 18, 32, 44, 55, 75, 80, 96, 97]

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [89]:
set5=[]

for x in set1:
    if x in set2:
        set5.append(x)

print(set5)

[2, 3, 5, 7, 8, 12, 15, 19, 21, 22, 23, 27, 28, 29, 33, 40, 47, 50, 52, 57, 58, 59, 60, 62, 63, 64, 65, 66, 68, 69, 71, 74, 79, 82, 84, 85, 86, 88, 89, 90, 91, 92, 93, 95, 98, 100]

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Think about the set operations that you used to create the sets and how the lengths of the sets are related to each other given those operations.

In [90]:
print(len(set1))
print(len(set2))
print(len(set3))
print(len(set4))
print(len(set5))

#set1 is 80 cause sample_list_1 it has no duplicates so when you turn it into a set it takes all the values
#set2 is 57 cause sample_list_2 it does have duplicates so when you turn it into a set it takes only the unique values
#set3 is 33 cause it takes the values that are in set 1 but not in set 2
#set4 is 10 cause it takes the values that are in set 2 but not in set 1
#set5 is 44 cause it takes the values that appears in both sets

79
55
34
9
46

#### Create an empty set called `set6`.

In [91]:
set6 = set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [92]:
set6.update(set3,set5)
print(set6)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 12, 14, 15, 19, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 33, 34, 35, 36, 37, 38, 40, 43, 45, 46, 47, 48, 49, 50, 51, 52, 53, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 74, 76, 77, 78, 79, 81, 82, 84, 85, 86, 88, 89, 90, 91, 92, 93, 94, 95, 98, 99, 100}

#### Check if `set1` and `set6` are equal.

In [93]:
print(set1)
print(set6)
set1==set6

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 12, 14, 15, 19, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 33, 34, 35, 36, 37, 38, 40, 43, 45, 46, 47, 48, 49, 50, 51, 52, 53, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 74, 76, 77, 78, 79, 81, 82, 84, 85, 86, 88, 89, 90, 91, 92, 93, 94, 95, 98, 99, 100}
{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 12, 14, 15, 19, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 33, 34, 35, 36, 37, 38, 40, 43, 45, 46, 47, 48, 49, 50, 51, 52, 53, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 74, 76, 77, 78, 79, 81, 82, 84, 85, 86, 88, 89, 90, 91, 92, 93, 94, 95, 98, 99, 100}

False

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.

set1.issubset(set2)

In [95]:
set3.issubset(set1)

False

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [96]:
set7=set()

In [97]:
set7=set7.union(set3,set4,set5)
print(set7)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 14, 15, 18, 19, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 32, 33, 34, 35, 36, 37, 38, 40, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 74, 75, 76, 77, 78, 79, 80, 81, 82, 84, 85, 86, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100}

In [98]:
set8=set7.union(set1,set2)
print(set8)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 14, 15, 18, 19, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 32, 33, 34, 35, 36, 37, 38, 40, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 74, 75, 76, 77, 78, 79, 80, 81, 82, 84, 85, 86, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100}

In [99]:
set7==set8

True

#### Using the `pop` method, remove the first element from `set1`.

In [101]:
print(set1)

{2, 3, 4, 5, 6, 7, 8, 9, 10, 12, 14, 15, 19, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 33, 34, 35, 36, 37, 38, 40, 43, 45, 46, 47, 48, 49, 50, 51, 52, 53, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 74, 76, 77, 78, 79, 81, 82, 84, 85, 86, 88, 89, 90, 91, 92, 93, 94, 95, 98, 99, 100}

In [102]:
set1.pop()

print(set1)

{3, 4, 5, 6, 7, 8, 9, 10, 12, 14, 15, 19, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 33, 34, 35, 36, 37, 38, 40, 43, 45, 46, 47, 48, 49, 50, 51, 52, 53, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 74, 76, 77, 78, 79, 81, 82, 84, 85, 86, 88, 89, 90, 91, 92, 93, 94, 95, 98, 99, 100}

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [112]:
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

In [113]:
set1=list(set1)

In [114]:
for x in set1:
    if x in list_to_remove:
        set1.remove(x)

In [115]:
print(set1)

[3, 4, 5, 6, 7, 8, 10, 12, 14, 15, 22, 23, 24, 25, 26, 27, 28, 30, 33, 34, 35, 36, 37, 38, 40, 43, 45, 46, 47, 48, 50, 52, 53, 56, 57, 58, 60, 62, 63, 64, 65, 66, 67, 68, 70, 72, 74, 76, 77, 78, 82, 84, 85, 86, 88, 90, 92, 93, 94, 95, 98, 100]

In [116]:
set1=set(set1)
print(set1)

{3, 4, 5, 6, 7, 8, 10, 12, 14, 15, 22, 23, 24, 25, 26, 27, 28, 30, 33, 34, 35, 36, 37, 38, 40, 43, 45, 46, 47, 48, 50, 52, 53, 56, 57, 58, 60, 62, 63, 64, 65, 66, 67, 68, 70, 72, 74, 76, 77, 78, 82, 84, 85, 86, 88, 90, 92, 93, 94, 95, 98, 100}